/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.title {
  padding: 10px 0px;
  background-color: #131313;
  display: flex;
  position: relative;
}

/* Header */
.jumbotron img {
  height: 400px;
  object-fit: cover;
  object-position: center 80%;
}

a.card {
  text-decoration: none;
  color: black;
}

.card-body {
  overflow: hidden;
}

.nama {
  color: #242424;
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  padding: 30px 10px;
}

.isi {
  color: #242424;
  font-weight: 500;
  white-space: normal;
  opacity: 0.75;
}

.fakultas {
  line-height: 1.5em;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #3c3c3c rgba(255, 255, 255, 0.5);
}

.fakultas::-webkit-scrollbar {
  height: 10px;
}

#akademikSidebar #fkMenu::-webkit-scrollbar {
  width: 5px;
}

.fakultas::-webkit-scrollbar-thumb,
#akademikSidebar #fkMenu::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 5px;
  border: 1px solid black;
}

.fakultas::-webkit-scrollbar-track,
#akademikSidebar #fkMenu::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}

.slide-container {
  display: block;
  white-space: nowrap;
}

.slide-container p.card-text {
  white-space: normal;
}

.slide-item {
  display: inline-block;
  margin: 0 5px;
  height: 500px;
  width: 320px;
}

.slide-item .card {
  border-radius: 15px;
  overflow: hidden;
}

.card .card-img-top {
  object-fit: cover;
  width: 100%;
  height: 160px;
}

ul.address {
  list-style-type: none;
}

ul.campus {
  list-style-type: "> ";
}

.embed-map {
  overflow-y: hidden;
}

.embed-map iframe {
  margin-top: -80px;
}

/* Akademik & Pendaftaran Page */
#akademikSidebar,
#akademikContainer,
#pendaftaranContainer,
form#pendaftaran input.form-control:not(.is-invalid),
form#pendaftaran select.form-select:not(.is-invalid) {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#akademikSidebar #fkMenu {
  overflow-y: auto;
  max-height: 96vh;
  scrollbar-width: thin;
  scrollbar-color: #3c3c3c rgba(255, 255, 255, 0.5);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.sidebar-menu-dropdown .accordion-item,
.sidebar-menu-dropdown .accordion-button,
.sidebar-menu-dropdown .list-group-item,
.sidebar-menu-dropdown .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #212529;
}

input#nohp::-webkit-outer-spin-button,
input#nohp::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}
