@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Hide Document Scrollbar (Mozilla) */
  scrollbar-width: none;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ebebeb;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.title {
  padding: 10px 0px;
  background-color: #131313;
  display: flex;
  position: relative;
}

/* Header */
.jumbotron img {
  height: 400px;
  object-fit: cover;
  object-position: center 80%;
}

a.card {
  text-decoration: none;
  color: black;
}

.card-body {
  overflow: hidden;
}

.nama {
  color: #242424;
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  padding: 30px 10px;
}

.isi {
  color: #242424;
  font-weight: 500;
  white-space: normal;
  opacity: 0.8;
}

.fakultas {
  line-height: 1.5em;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #3c3c3c white;
}

.fakultas::-webkit-scrollbar {
  height: 10px;
}

.fakultas::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 10px;
}

/* .fakultas::-webkit-scrollbar-button {
  display: none;
} */

.slide-container {
  display: block;
  white-space: nowrap;
}

.slide-container p.card-text {
  white-space: normal;
}

.slide-item {
  display: inline-block;
  margin: 0 5px;
  height: 500px;
  width: 320px;
}

.slide-item .card {
  border-radius: 15px;
  overflow: hidden;
}

.card .card-img-top {
  object-fit: cover;
  width: 100%;
  height: 160px;
}

ul.address {
  list-style-type: none;
}

ul.campus {
  list-style-type: "> ";
}

.embed-map {
  overflow-y: hidden;
}

.embed-map iframe {
  margin-top: -80px;
}
