.cover {
  background-image: url(../img/pendaftaran.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px;
  min-height: 430px;
}

.form {
  margin: auto;
  background-color: white;
  padding: 0px 50px;
  max-width: 800px;
  opacity: 0.85;
  min-height: 350px;
}

.form .form-part{
  width: 100%;
  padding: 15px 0px;
}

.form select:invalid {
  color: gray;
}

.form option {
  color: black;
}

.form button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 10px;
  padding: 7px;
  min-width: 40px;
}

.no-data {
  padding: 20% 0px;
  height: 300px;
}